.footer {
    background: white;

    .main-footer {
        padding: 80px 0px 40px 0px;

        .col {

            @media (max-width: 1170px) {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
            }
        }
        .body {
            position: relative;

            .col-body {
                display:flex;
                flex-direction: column;
                align-items: flex-end;

                @media (max-width: 1170px) {
                    align-items: center;

                    div {
                        text-align: center;
                    }
                }
            }
            .tl-v-bdr {
                position: absolute;
                left: -94px;
                top: -56px;
                height: 300px;
                width: 1px;
                background-color: #CCCCCC;

                @media (max-width: 1600px) {
                    display: none;
                }
            }
            .tl-h-bdr {
                position: absolute;
                left: -110px;
                top: -32px;
                height: 1px;
                width: 150px;
                background-color: #CCCCCC;

                @media (max-width: 1600px) {
                    display: none;
                }
            }
            .logo {
                height: 50px;
            }
            .footer-logo {
                height: 50px;

                @media (max-width: 1170px) {
                    display: none;
                }
            }
            .address {
                list-style: none;
                margin: 0;
                padding: 0;
                margin-top: 40px;
                font-family: poynter-gothic-text-condense, sans-serif;
                font-weight: 400;
                font-style: normal;	
                font-size: 20px;
                line-height: 30px;
    
                li {
                    margin-top: 30px;

                    &:first-child {
                        margin-top: 0px;
                    }

                    a {
                        color: #404040;
                        text-decoration: none;
                        position: relative;

                        &:after {
                            content: '';
                            position: absolute;
                            left: 0;
                            margin: auto;
                            bottom: -1px;
                            height: 1px;
                            background-color: #404040;
                            width: 0px;
                            transition: .4s;
                        }

                        &:hover {
                            color: #404040;

                            &:after {
                                width: 100%;
                            }
                        }
                    }
                }
                li.street {
                    a {
                        color: #404040;
                        
                        position: relative;

                        &:after {
                            display: none;
                        }

                        &:hover {
                            color: #404040;
                            text-decoration: underline;

                            &:after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .mobile-logos {
                display: none;

                @media (max-width: 1170px) {
                    display: block;

                    list-style: none;
                    margin: 0;
                    padding: 0;
                    margin-top: 30px;

                    li {
                        margin-top: 30px;

                        &:first-child {
                            margin-top: 0px;
                        }

                        a {

                            img {
                                width: 205px;
                            }
                        }
                    }
                }
            }
            .custom-eqp {
                list-style: none;
                padding: 0;
                margin: 0;
                font-family: poynter-gothic-text-condense, sans-serif;
                font-weight: 400;
                font-style: normal;	
                font-size: 20px;	
                line-height: 40px;
                margin-top: 40px;

                li.list-head {
                    color: #888888;	
                    text-transform: uppercase;
                }

                li {
                    a {
                        color: #434449;	
                        text-decoration: none;
                        position: relative;
                        
                        &:after {
                            content: '';
                            position: absolute;
                            left: 0;
                            margin: auto;
                            bottom: -1px;
                            height: 1px;
                            background-color: #FF8E53;
                            width: 0px;
                            transition: .4s;
                        }

                        &:hover {
                            color: #FF8E53;

                            &:after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .footer-list {
                list-style: none;
                margin: 0;
                padding: 0;
                font-family: poynter-gothic-text-condense, sans-serif;
                font-weight: 400;
                font-style: normal;	
                font-size: 20px;	
                line-height: 40px;
                margin-top: 40px;
                text-transform: uppercase;

                li {

                    a {
                        color: #888888;
                        text-decoration: none;
                        position: relative;

                        &:after {
                            content: '';
                            position: absolute;
                            left: 0;
                            margin: auto;
                            bottom: -1px;
                            height: 1px;
                            background-color: #434449;
                            width: 0px;
                            transition: .4s;
                        }

                        &:hover {
                            color: #434449;

                            &:after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .blue {

                li {

                    &:last-child {
                        a {
                            color: #139DE2;
                            text-decoration: none;
                            position: relative;
    
                            &:after {
                                content: '';
                                position: absolute;
                                left: 0;
                                margin: auto;
                                bottom: -1px;
                                height: 1px;
                                background-color: #139DE2;
                                width: 0px;
                                transition: .4s;
                            }
    
                            &:hover {
                                color: #139DE2;
    
                                &:after {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .sub-footer {
        padding: 20px 0px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: 0px;
            height: 1px;
            width: 100%;
            max-width: 1600px;
            background-color: #CCCCCC;

            @media (max-width: 1440px) {
                max-width: 1410px;
            }
        }

        .body {
            position: relative;

            .copyright {
                list-style: none;
                margin: 0;
                padding: 0;
                font-family: poynter-gothic-text-condense, sans-serif;
                font-weight: 400;
                font-style: normal;	
                font-size: 16px;	
                line-height: 19px;
                color: #888888;

                li {
                    display: inline-block;
                    border-right: 1px solid #888888;
                    padding-right: 15px;
                    margin-right: 15px;

                    &:last-child {
                        border-right: none;
                        padding-right: 0px;
                        margin-right: 0px;
                    }

                    a {
                        color: #888888;
                        text-decoration: none;
                        position: relative;

                        &:after {
                            content: '';
                            position: absolute;
                            left: 0;
                            margin: auto;
                            bottom: -1px;
                            height: 1px;
                            background-color: #434449;
                            width: 0px;
                            transition: .4s;
                        }

                        &:hover {
                            color: #434449;

                            &:after {
                                width: 100%;
                            }
                        }
                    }
                }

                @media (max-width: 1170px) {
                    text-align: center;
                }
            }

            .social {
                list-style: none;
                margin: 0;
                padding: 0;
                float: right;

                li {
                    display: inline-block;
                    margin-left: 60px;

                    &:first-child {
                        margin-left: 0px;
                    }

                    a {
                        

                        &:hover {

                            img {
                                transition: .2s;
                                filter: invert(71%) sepia(82%) saturate(350%) hue-rotate(324deg) brightness(105%) contrast(101%);
                            }
                        }
                    }
                }

                @media (max-width: 1170px) {
                    margin-top: 30px;
                    float: none;
                    text-align: center;
                }
            }

            .br-i-bdr {
                position: absolute;
                right: -70px;
                top: -280px;
                height: 300px;
                width: 1px;
                background-color: #CCCCCC;

                @media (max-width: 1600px) {
                    display: none;
                }
            }
            .br-o-bdr {
                position: absolute;
                right: -90px;
                top: -150px;
                height: 150px;
                width: 1px;
                background-color: #CCCCCC;

                @media (max-width: 1600px) {
                    display: none;
                }
            }
        }
    }
}