// Theme Colors
$text-default: #5A7184;
$heading-color: #183B56;
$dark-gray: #293240;

    // Header
    $nav-font-color: #293240;
    

// Buttons 
$btn-radius: 8px;
$btn-border-width: 2px;

// Grid Container Overrides
$container-1200: 1170px;
$container-992: 960px;
$container-768: 720px;
$container-576: 540px;
