@import url("https://use.typekit.net/ejh7fan.css");
@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap");
html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #30231c;
  margin: 0;
}

.container {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

a:hover {
  color: #ff6363;
}

header {
  padding: 25px 0px;
}
header .container .row {
  justify-content: space-between;
  align-items: center;
}
header .container .row .brand .logo {
  width: 90px;
}
header .container .row .menu {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
header .container .row .menu ul.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 15px;
}
header .container .row .menu ul.social-list li {
  display: inline-block;
  margin-left: 25px;
}
header .container .row .menu ul.social-list li .social {
  width: 30px;
}
header .container .row .menu .pt-inverted {
  font-size: 20px;
  padding: 10px 35px;
}

footer {
  padding: 150px 0px 35px 0px;
}
footer .container .row ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
footer .container .row ul li {
  display: inline-block;
  margin-left: 75px;
  font-size: 20px;
  color: #545454;
  font-weight: 400;
}
footer .container .row ul li:first-child {
  margin-left: 0px;
}
footer .container .row ul li a {
  font-size: 20px;
  color: #545454;
  font-weight: 400;
  text-decoration: none;
}
footer .container .row ul li a:hover {
  color: #ff6363;
}

.slick-slide img {
  height: 656px;
  width: 100%;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 10px 35px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 6px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.pt-inverted {
  border: 4px solid #ff6363;
  background: transparent;
  font-size: 30px;
  color: #444444;
  font-family: "Rubik";
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}
.pt-inverted:hover {
  color: white;
  background: #ff6363;
}

.pt-filled {
  border: 4px solid #ff6363;
  background: #ff6363;
  font-size: 30px;
  color: white;
  font-family: "Rubik";
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

#hero {
  padding: 40px 0px;
}
#hero .container .row {
  justify-content: center;
  align-items: center;
}
#hero .container .row .text {
  width: 100%;
  max-width: 530px;
  text-align: center;
}
#hero .container .row .text h1 {
  font-family: "Rubik Mono One", sans-serif;
  width: 100%;
  font-size: 30px;
  letter-spacing: -2px;
  line-height: 35px;
  color: #282828;
  font-weight: 400;
  margin: 0;
}
#hero .container .row .text p {
  max-width: 415px;
  font-size: 20px;
  color: #545454;
  font-family: "Rubik";
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}
#hero .container .row .video {
  height: 300px;
  max-width: 800px;
  width: 100%;
}

#preview {
  position: relative;
  margin-top: 40px;
}
#preview .container .row .iphone {
  margin: 0 auto;
  background: url("../img/iphone/iphone.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 700px;
  width: 350px;
  left: calc(50% - 175px);
  position: absolute;
  z-index: 1;
}
#preview .container .row .pt-slider {
  height: 431px;
  width: 266px;
  margin: 0 auto;
  margin-top: 30px;
}
#preview .container .row .pt-slider .slick-slide img {
  height: auto;
}

#three-col {
  padding: 150px 0px 0px 0px;
}
#three-col .container .row .col-4 {
  text-align: center;
}
#three-col .container .row .col-4 .icon {
  height: 95px;
}
#three-col .container .row .col-4 h2 {
  font-size: 20px;
  color: #282828;
  font-family: "Rubik Mono One";
  font-weight: 400;
  margin: 30px 0px;
}
#three-col .container .row .col-4 p {
  max-width: 350px;
  margin: 0 auto;
  font-size: 25px;
  color: #282828;
  font-family: "Rubik";
  font-weight: 400;
}

#contact-body .container .row {
  justify-content: space-between;
  align-items: center;
}
#contact-body .container .row .text {
  width: 100%;
}
#contact-body .container .row .text h1 {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 30px;
  letter-spacing: -2px;
  line-height: 35px;
  color: #282828;
  font-weight: 400;
}
#contact-body .container .row .text p {
  font-size: 20px;
  color: #545454;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
#contact-body .container .row .form {
  width: 100%;
}
#contact-body .container .row .form .form-content form {
  width: 100%;
  display: block;
  margin-top: 60px;
}
#contact-body .container .row .form .form-content form input {
  width: 100%;
  display: block;
  margin-bottom: 30px;
  padding: 10px 0px;
  font-size: 20px;
  color: #545454;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}
#contact-body .container .row .form .form-content form button {
  display: block;
  width: 100%;
  padding: 0px;
}

#contact-cta .container .row {
  justify-content: center;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .row {
    margin-right: -15px;
    margin-left: -15px;
  }

  #preview .container .row .iphone {
    height: 700px;
    width: 540px;
    left: calc(50% - 270px);
    background-size: cover;
  }
  #preview .container .row .pt-slider {
    height: 656px;
    width: 410px;
    margin: 0 auto;
    margin-top: 44px;
  }
  #preview .container .row .pt-slider .slick-slide img {
    height: 656px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  header .container .row .brand .logo {
    width: 120px;
  }
  header .container .row .menu {
    flex-direction: row;
    align-items: center;
  }
  header .container .row .menu .social-list {
    margin-top: 0px !important;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  header .container .row .menu .pt-inverted {
    color: #444444;
    font-family: "Rubik";
    font-weight: 700;
    text-align: center;
  }

  #contact-body .container .row {
    min-height: 430px;
  }
  #contact-body .container .row .text {
    width: 50%;
  }
  #contact-body .container .row .text h1 {
    font-family: "Rubik Mono One", sans-serif;
    font-size: 30px;
    letter-spacing: -2px;
    line-height: 35px;
    color: #282828;
    font-weight: 400;
  }
  #contact-body .container .row .text p {
    font-size: 20px;
    color: #545454;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
  }
  #contact-body .container .row .form {
    width: 40%;
  }
  #contact-body .container .row .form .form-content {
    padding-left: 30px;
  }
  #contact-body .container .row .form .form-content form {
    width: 100%;
    display: block;
    margin-top: 0px;
  }
  #contact-body .container .row .form .form-content form input {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    padding: 10px 0px;
    font-size: 20px;
    color: #545454;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
  }
  #contact-body .container .row .form .form-content form button {
    display: block;
    width: 100%;
    padding: 0px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  #hero .container .row {
    justify-content: space-between;
  }
  #hero .container .row .text {
    text-align: left;
  }
  #hero .container .row .text h1 {
    font-family: "Rubik Mono One", sans-serif;
    width: 450px;
    font-size: 30px;
    letter-spacing: -2px;
    line-height: 35px;
    color: #282828;
    font-weight: 400;
    margin: 0;
  }
  #hero .container .row .text p {
    max-width: 415px;
    font-size: 20px;
    color: #545454;
    font-family: "Rubik";
    font-weight: 400;
    margin-left: 0;
  }
  #hero .container .row .video {
    height: 414px;
  }

  #contact-body .container .row .form {
    margin-right: 100px;
  }
}
@media (min-width: 1330px) {
  .container {
    max-width: 1330px;
  }
}
@media (max-width: 768px) {
  #three-col {
    padding: 60px 0px;
  }
  #three-col .container .row .col-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
  }
  #three-col .container .row .col-4:last-child {
    margin-bottom: 0;
  }

  footer .container .row ul li {
    text-align: center;
    display: block;
    margin: 0;
    margin-bottom: 30px;
  }
}

/*# sourceMappingURL=protreads.css.map */
