#under-hero {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url('../../img/bg-imgs/White.png');
    background-repeat: repeat;

    @media (min-width: 768px) {

    }
    @media (min-width: 992px) {
        height: 885px;
        margin-top: 80px;
    }

    .content {
        margin-top: 85px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 0 15px;
        flex-direction: column;
        
        @media (min-width: 576px) {
            max-width: $container-576;
        }
        @media (min-width: 768px) {
            max-width: $container-768;
        }
        @media (min-width: 992px) {
            max-width: $container-992;
            flex-direction: row;
            padding: 0;
        }
        @media (min-width: 1200px) {
            max-width: $container-1200;
        }
        .body {
            margin-bottom: 30px;

            .title {
                width: 100%;
                max-width: 430px;
                font-family: 'HK Grotesk';
                color: $heading-color;
                font-size: 44px;
                font-weight: bold;
                letter-spacing: 0.18px;
                line-height: 57px;
                
                span {
                    position: relative;
    
                    .firstWord {
                        &:after {
                            position: absolute;
                            content: "";
                            height: 4px;
                            width: 100%;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: orange;
                        }
                    }
                }   
                
                @media (min-width: 768px) {
                    font-size: 64px;
                    letter-spacing: 0.27px;
                    line-height: 80px;
                }
            }
            .sub-title {
                margin-top: 25px;
                width: 360px;
                color: $text-default;
                font-family: 'HK Grotesk';
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 32px;
            }
            .cta {
                margin-top: 35px;
    
                .btn {
                    font-size: 18px;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 24px;
                    box-shadow: 0 8px 12px 0 rgba(255,105,50,0.22);
                    width: 100%;
                    text-align: center;

                    @media (min-width: 768px) {
                        width: auto;
                    }
                }
                .icon {
                    display: inline-block;
                    margin-right: 15px;
                    background: rgba(255, 255, 255, .1);
                    border-radius: 50px;
                    width: 35px;
                    height: 35px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
    
                    svg {
                        fill: white;
                        height: 13px;
                        width: 13px;
                    }
                }
            }
        }
    }
    .image {
        width: 375px;
        height: 426px;

        .bg {
            position: absolute;
            width: 375px;
            height: 426px;
            background-size: contain;
            background-repeat: no-repeat;
            right: -30px;
            z-index: 1;
        }
        @media (min-width: 768px) {

        }
        @media (min-width: 992px) {
            width: 750px;
            height: 750px;
            
            .bg {
                width: 750px;
                height: 750px;
                right: -150px;
                top: -60px;
                background-size: cover;
            }
        }
    }
    .wave {
        display: block;
        position: absolute;
        bottom: -1px;
        left: 0;
        height: 200px;
        width: 100%;
        z-index: 999;
    }
}
#under-processors {
    position: relative;
    padding-bottom: 100px;

    .bg {
        position: absolute;
        left: -38px;
        z-index: -1;

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    .head {
        .sub-title {
            color: #FF6932;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 2px;
            line-height: 19px;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        .title {
            width: 100%;
            max-width: 380px;
            color: $heading-color;
            font-family: "HK Grotesk";
            font-size: 32px;
            font-weight: bold;
            letter-spacing: 0.18px;
            line-height: 44px;
            margin-bottom: 65px;

            @media (min-width: 992px) {
                font-size: 36px;
                font-weight: bold;
                letter-spacing: 0.2px;
                line-height: 48px;
            }
        }
    }
    .processors-slider {
        width: 100%;
        display: flex;
        align-items: center;

        .swiper-container {
            .swiper-wrapper {
                align-items: center;
                
                .swiper-slide {

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        .slider-actions {
            display: none;

            @media (min-width: 992px) {
                display: block;
                width: 70px;
            }

            .arrow {
                display: inline-block;
                width: 35px;
                height: 35px;
                border-top: 4px solid #A6B0BF;
                border-right: 4px solid #A6B0BF;
                border-radius: 3px;
                opacity: .5;
                cursor: pointer;
    
                &.arrow-right {
                    transform: rotate(45deg);
                    float: right;
                }
                &.arrow-left {
                    transform: rotate(-135deg);
                    float: left;
                }
                &.swiper-button-disabled {
                    opacity: .15;
                    cursor: initial;
                }
            }
        }
    }
}
#under-hiw {
    position: relative;
    width: 100%;
    height: 930px;
    overflow: hidden;

    .section-head {
        h2 {
            font-size: 44px;
            font-weight: bold;
            letter-spacing: 0.18px;
            line-height: 60px;

            @media (min-width: 992px) {
                font-size: 64px;
                font-weight: bold;
                letter-spacing: 0.36px;
                line-height: 48px;
            }
        }
    }
    .bg {
        width: 100%;
        height: 483px;
        background-repeat: repeat;
        position: absolute;
        right: 0;
        top: 90px;
        border-radius: 80px 0 0 80px;
        z-index: -1;
    }
    .mtabs {
        z-index: 10;
        margin-top: 50px;

        .hiw_swiper {
            .swiper-wrapper {
                .swiper-slide {
                    .body {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .img {
                            width: 275px;
                            margin-bottom: 40px;

                            img {
                                width: auto;
                                height: 376px;
                            }
                        }
                        .content {
                            width: 90%;
                            margin: 0 auto;
                            border: 1px solid #E5EAF4;
                            border-radius: 12px;
                            background-color: #FFFFFF;
                            box-shadow: 0 15px 35px 0 rgba(41,50,64,0.35);
                            padding: 24px;

                            .icon {
                                display: none;
                            }

                            .interior {
                                .title {
                                    color: $heading-color;
                                    font-family: "HK Grotesk";
                                    font-size: 22px;
                                    font-weight: bold;
                                    letter-spacing: 0.2px;
                                    line-height: 33px;
                                }
                                .text {
                                    font-family: "Open Sans";
                                    font-size: 16px;
                                    letter-spacing: 0;
                                    line-height: 28px;

                                    a {
                                        color: #FF6932;
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                }                
            }
            .swiper-pagination {
                position: relative;
                margin-top: 45px;
                display: flex;
                align-items: center;
                justify-content: center;

                .swiper-pagination-bullet {
                    height: 9px;
                    width: 9px;
                    opacity: 0.4;
                    background-color: #FF6932;

                    &.swiper-pagination-bullet-active {
                        width: 12px;
                        height: 12px;
                        opacity: 1;
                    }
                }
            }
        }
    }
    .vtabs {
       display: none;
    }
    @media (min-width: 768px) {
        padding: 100px 0;

        .bg {
            height: 732px;
            top: 90px;
            -webkit-transform: perspective(75px) rotateX(0deg) rotateY(-1deg);
                transform: perspective(75px) rotateX(0deg) rotateY(-1deg);
        }
        .mtabs {
            margin-top: 50px;
    
            .hiw_swiper {
                .swiper-wrapper {
                    .swiper-slide {
                        .body {
                            .img {
                                width: 390px;
                                margin-bottom: 40px;
    
                                img {
                                    width: auto;
                                    height: 464px;
                                }
                            }
                            .content {
                                max-width: 490px;
                                display: flex;
                                flex-direction: row;

                                .icon {
                                    display: block;
                                    margin-right: 20px;
                                    flex: 0 0 34px;
            
                                    img {
                                        width: 100%;
                                        height: auto;
                                    }
                                }                              
                            }
                        }
                    }                
                }
                .swiper-pagination {
                    position: relative;
                    margin-top: 45px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    .swiper-pagination-bullet {
                        height: 9px;
                        width: 9px;
                        opacity: 0.4;
                        background-color: #FF6932;
    
                        &.swiper-pagination-bullet-active {
                            width: 12px;
                            height: 12px;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 992px) {
        height: 1040px;

        .mtabs {
            display: none;
        }
        .bg {
            height: 900px;
            width: 61%;
            top: 90px;
        }
        .vtabs {
            display: flex;
            margin-top: 55px;
            z-index: 2;
    
            .tabs {
                flex: 0 0 560px;
                padding: 0 15px;
                display:flex;
                flex-wrap: wrap;
                flex-direction: column;
    
                button {
                    width: 100%;
                    display:flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid #E5EAF4;
                    border-radius: 16px;
                    background-color: #FFFFFF;
                    box-shadow: 0 15px 35px 0 rgba(0,0,0,0.05);
                    padding: 25px 30px;
                    margin-bottom: 25px;
                    
                    outline: none;
                    text-align: left;
                    cursor: pointer;
    
                    .body {
                        display: flex;
    
                        .icon {
                            margin-right: 20px;
                            flex: 0 0 34px;
    
                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
                        .content {
                            .title {
                                color: $heading-color;
                                font-family: "HK Grotesk";
                                font-size: 22px;
                                font-weight: bold;
                                letter-spacing: 0.2px;
                                line-height: 34px;
                            }
                            .text {
                                font-family: "Open Sans";
                                font-size: 16px;
                                letter-spacing: 0;
                                line-height: 28px;
                                margin-top: 10px;

                                a {
                                    color: #FF6932;
                                    text-decoration: none;
                                }
                                p {
                                    &:first-child {
                                        margin-top: 0;
                                    }
                                }
                            }
                        }
                    }
                    &.active {
                        box-shadow: 0 15px 35px 0 rgba(41,50,64,0.35);
                    }
                }
            }
            .maincontent {
                flex: 1;
                overflow: hidden;
    
                .tabcontent {
                    display:none;
    
                    &.active {
                        display: flex;
                        flex: 1;
                        height: 100%;
                        position: relative;
                        justify-content: flex-end;
                        align-items: center;

                        img {
                            max-width: 422px;
                        }
                    }
                }
            }
        }
    }
}
#under-video {
    width: 100%;
    padding-bottom: 150px;
    margin-top: 0;
    position: relative;

    @media (min-width: 768px) {
        padding-bottom: 100px;
    }
    @media (min-width: 992px) {
        margin-top: 200px;
        padding-bottom: 200px;
    }
    .bg {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 75%;
        background: linear-gradient(to top, rgba(255, 255, 255, .8), rgba(255, 255, 255, 0)), url('../../img/bg-imgs/White.png');
        background-repeat: repeat;

        @media (min-width: 992px) {
            height: 90%;
        }
    }
    .wave {
        display: block; 
        transform: rotate(180deg);
        position: absolute;
        top: 155px;
        z-index: 0;

        @media (min-width: 992px) {
            top: 90px;
        }
    }
    .section-head {
        text-align: center;

        h2 {
            font-size: 44px;
            font-weight: bold;
            letter-spacing: 0.24px;
            line-height: 60px;
            margin-bottom: 45px;
            
            @media (min-width: 768px) {
                font-size: 56px;
                letter-spacing: 0.31px;
                line-height: 48px;
            }
            @media (min-width: 992px) {
                font-size: 64px;
                letter-spacing: 0.36px;
                line-height: 48px;
                margin-bottom: 75px;
            }
        }
    }
    .embed-container {
        height: 222px;
        width: 100%;
        box-shadow: 9px 14px 29px 0 rgba(27,47,70,0.16);
        overflow: hidden;
        position: relative;
        z-index: 10;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        margin-bottom: 60px;

        @media (min-width: 768px) {
            height: 380px;
            margin-bottom: 75px;
        }
        @media (min-width: 992px) {
            width: 860px;
            height: 485px;
            margin: 0 auto;
            margin-bottom: 100px;
        }
        &:before {
            display: block;
            content: "";
        }
        .iframe-round {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            border: 0;
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
    }
    .video-container {
        height: 222px;
        width: 100%;
        box-shadow: 9px 14px 29px 0 rgba(27,47,70,0.16);
        overflow: hidden;
        position: relative;
        z-index: 10;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        margin-bottom: 60px;

        @media (min-width: 768px) {
            height: 380px;
            margin-bottom: 75px;
        }
        @media (min-width: 992px) {
            width: 860px;
            height: 485px;
            margin: 0 auto;
            margin-bottom: 100px;
        }

        &:before {
            display: block;
            content: "";
        }
        .iframe-round {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            border: 0;
            -webkit-border-radius: 10px;
            border-radius: 10px;

            html {
                .vp-center {
                    .player {
                        max-width: 100% !important;
                        height: 100% !important;
                    }
                }
            }
        }
    }
    .cta-form {
        width: 100%;
        max-width: 585px;
        margin: 0 auto;

        .nf-form-cont {
            .nf-form-wrap {
                .nf-form-layout {
                    .nf-before-form-content {
                        display: none;
                    }
                    .nf-form-content {
                        padding: 0;

                        .nf-cell {
                            padding: 0;
                            width: 100% !important;

                            @media (min-width: 768px) {
                                width: auto !important;
                            }

                            .nf-field-container {
                                margin: 0;

                                .nf-field {
                                    .field-wrap {
                                        width: 100%;

                                        &.nf-error {
                                            .nf-field-element {
                                                &:after {
                                                    background: #e80000;
                                                    color: #fff;
                                                    font-family: FontAwesome;
                                                    font-size: 20px;
                                                    content: "\f12a";
                                                    position: absolute;
                                                    top: 1px;
                                                    right: 0;
                                                    bottom: 1px;
                                                    height: calc(100% - 2px);
                                                    width: 50px;
                                                    line-height: 41px;
                                                    text-align: center;
                                                    transition: all .5s;
                                                    border-radius: 0px;
                                                    display: none;
                                                }
                                            }
                                        }
                                        .nf-field-label {
                                            display: none;
                                        }
                                        .nf-field-element {
                                            input[type="email"] {
                                                width: 100%;
                                                background-color: #ffffff;
                                                border: 1px solid #ff6932;
                                                color: #A6B0BF;
                                                font-family: "Open Sans";
                                                font-size: 16px;
                                                font-weight: 600;
                                                letter-spacing: 0;
                                                line-height: 22px;
                                                border-radius: 8px;
                                                padding: 10px 15px;
                                                height: auto;
                                                margin-bottom: 0px;
                                            }
                                            input[type="button"] {
                                                background-color: #ff6932;
                                                border: 1px solid #ff6932;
                                                padding: 10px;
                                                color: #FFFFFF;
                                                font-family: "Open Sans";
                                                font-size: 16px;
                                                font-weight: bold;
                                                letter-spacing: 0;
                                                line-height: 22px;
                                                border-radius: 8px;
                                                height: 100%;
                                                width: 100%;
                                            }

                                            @media (min-width: 768px) {
                                                input[type="email"] {
                                                    width: 375px;
                                                    border-radius: 8px 0 0 8px;
                                                    padding: 20px 25px;
                                                    box-shadow: 0 8px 12px 0 rgba(255,105,50,0.15);
                                                }
                                                input[type="button"] {
                                                    padding: 20px 40px;
                                                    border-radius: 0px 8px 8px 0px;
                                                    width: 210px;
                                                    box-shadow: 0 8px 12px 0 rgba(255,105,50,0.15);
                                                }
                                            }
                                        }
                                    }
                                }
                                .nf-after-field {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    .nf-after-form-content {
                        display: none;

                        .nf-form-hp {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .anchor {
        display: block;
        position: relative;
        top: -110px;
        visibility: hidden;
    }
}
#under-pricing {
    position: relative;
    width: 100%;
    height: 896px;

    @media (min-width: 768px) {
        height: 1034px;
    }
    
    @media (min-width: 992px) {
        height: 1073px;
    }

    .bg {
        width: 100%;
        position: absolute;
        overflow: hidden;
        z-index: 0;
        height: 896px;

        &:before {
            content: "";
            position:  absolute;
            background: linear-gradient(341.88deg, rgba(255,220,150,0) 0%, #FFAC6C 100%), url('../../img/bg-imgs/Orange.png');
            background-repeat: repeat;
            z-index: -1;
            top:0;
            left:0;
            bottom:0;
            right:0;
            border-bottom-right-radius: 100px;
            transform: skewy(-4deg);
            transform-origin: left bottom;
        }

        @media (min-width: 768px) {
            height: 1034px;

            &:before {
                border-bottom-right-radius: 300px;
            }
        }

        @media (min-width: 992px) {
            height: 1073px;

            &:before {
                border-bottom-right-radius: 300px;
            }
        }
    }
    .section-head {
        h2 {
            color: white;
            font-size: 44px;
            font-weight: bold;
            letter-spacing: 0.18px;
            line-height: 60px;
            text-align: center;
            margin-top: 75px;
            margin-bottom: 25px;

            @media (min-width: 992px) {
                font-size: 64px;
                font-weight: bold;
                letter-spacing: 0.27px;
                line-height: 60px;
                margin-top: 115px;
                margin-bottom: 55px;
            }
        }
    }
    .d-pricing {
        display: none;
        
        .plans {
            width: 100%;
            display: flex; 
            flex-direction: row;
            align-items: flex-start;
    
            .plan {
                width: 370px;
                margin-right: 30px;
                padding: 35px 35px 0px 35px;
                text-align: center;
                background: white;
                border: none;
                box-sizing: border-box;
                border-radius: 10px;
                margin-top: 50px;
                box-shadow: 0 25px 60px 0 rgba(116,125,132,0.16);
        
                &:last-child {
                  margin-right: 0px;
                }
    
                .plan-title {
                    position: relative;
                    color: #212B36;
                    font-family: "HK Grotesk";
                    font-size: 26px;
                    font-weight: 600;
                    letter-spacing: 0.5px;
                    line-height: 34px;
                    margin-top: 15px;
                    margin-bottom: 0;
            
                    > span {
                        color: #FF5719;
                        font-size: 36px;
                        line-height: 47px;
                        letter-spacing: 0.5px;
                    }
                }
                .plan-popular {
                    color: #FF5719;
                    font-family: "Montserrat";
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 0.5px;
                    line-height: 18px;
                    margin-top: 5px;
                }
                .plan-price {
                    display: flex;
                    flex-direction: column;
                    margin-top: 30px;
                    margin-bottom: 50px;
                    opacity: 0.5;
                    color: #3056D3;
                    font-family: "HK Grotesk";
                    font-size: 40px;
                    font-weight: bold;
                    letter-spacing: 0.5px;
                    line-height: 52px;
                  
                    > span {
                        color: #637381;
                        font-family: "Open Sans";
                        font-size: 15px;
                        letter-spacing: 0.5px;
                        font-weight: normal;
                        line-height: 28px;
                        text-align: center;
                    }
                }
                .plan-features {
                    border-top: 1px solid #E9EDF4;
                    padding-top: 30px;
                    margin-bottom: 75px;
                    margin-left: 0;
                  
                    > li {
                        display: flex;
                        justify-content: space-between;
                        opacity: 0.5;
                        color: #212B36;
                        font-family: "Open Sans";
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: 0.5px;
                        line-height: 28px;
                        margin-bottom: 15px;
            
                        span {
                            opacity: 1;
                        }
            
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
    
                &.plan-tall {
                    margin-top: 0;
                  
                    > .plan-price {
                        opacity: 1;
                    }
                  
                    > .plan-features {
                        > li {
                            opacity: 1;
                        }
                    }      
                }
            }
        }

        @media (min-width: 992px) {
            display: block;
        }
    }
    .m-pricing { 

        .swiper-container {
            border-radius: 10px;
            background-color: #FFFFFF;
            box-shadow: 0 25px 60px 0 rgba(116,125,132,0.16); 
            width: 100%;
            max-width: 370px;
            margin: 0 auto; 

            .swiper-slide {
                .body {
                    padding: 35px;
                    padding-bottom: 0px;

                    .plan-title {
                        position: relative;
                        color: #212B36;
                        font-family: "HK Grotesk";
                        font-size: 26px;
                        font-size: 26px;
                        font-weight: 600;
                        letter-spacing: 0.5px;
                        line-height: 34px;
                        margin-top: 10px;
                        margin-bottom: 0;
                        text-align: center;
                
                        > span {
                            color: #FF5719;
                            font-size: 36px;
                            line-height: 47px;
                            letter-spacing: 0.5px;
                        }
    
                        @media (min-width: 768px) {
    
                        }
                    }
                    .plan-popular {
                        color: #FF5719;
                        font-family: "Montserrat";
                        font-size: 14px;
                        font-weight: 500;
                        letter-spacing: 0.5px;
                        line-height: 18px;
                        margin-top: 5px;
                        text-align: center;
                        display: block;
                    }
                    .plan-price {
                        display: flex;
                        flex-direction: column;
                        margin-top: 30px;
                        margin-bottom: 50px;
                        opacity: 1;
                        color: #3056D3;
                        font-family: "HK Grotesk";
                        font-size: 40px;
                        font-weight: bold;
                        letter-spacing: 0.5px;
                        line-height: 40px;
                        text-align: center;
                      
                        > span {
                            color: #637381;
                            font-family: "Open Sans";
                            font-size: 15px;
                            letter-spacing: 0.5px;
                            font-weight: normal;
                            line-height: 28px;
                            text-align: center;
                        }
                    }
                    .plan-features {
                        border-top: 1px solid #E9EDF4;
                        padding-top: 30px;
                        margin-bottom: 40px;
                        margin-left: 0;
                      
                        > li {
                            display: flex;
                            justify-content: space-between;
                            opacity: 1;
                            color: #212B36;
                            font-family: "Open Sans";
                            font-size: 14px;
                            font-weight: 600;
                            letter-spacing: 0.5px;
                            line-height: 28px;
                            margin-bottom: 10px;
                
                            span {
                                opacity: 1;
                            }
                
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
            .pricing-swiper-pagination {
                text-align: center;
                padding-bottom: 35px;
                display: flex;
                justify-content: center;
                align-items: center;

                .swiper-pagination-bullet {
                    opacity: 0.4;
                    background-color: #FF6932;
                    height: 10px;
                    width: 10px;

                    &.swiper-pagination-bullet-active {
                        opacity: 1;
                        height: 12px;
                        width: 12px;
                    }
                }
            }
            
        }

        @media (min-width: 992px) {
            display: none;
        }
    }
    .anchor {
        display: block;
        position: relative;
        top: -20px;
        visibility: hidden;

        @media (min-width: 768px) {
            top: -10px;
        }
        
        @media (min-width: 992px) {
            top: 0px;
        }
    }
}
#under-partners {
    margin: 150px 0;

    .head {

        h2 {
            color: #FF6932;
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 2.29px;
            line-height: 22px;
            text-transform: uppercase;
        }
    }
    .partners-slider {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 35px;

        .swiper-container {
            width: 100%;

            .swiper-wrapper {
                align-items: center;
                
                .swiper-slide {

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        .slider-actions {
            display: none;

            @media (min-width: 992px) {
                display: block;
                width: 70px;
            }

            .arrow {
                display: inline-block;
                width: 35px;
                height: 35px;
                border-top: 4px solid #A6B0BF;
                border-right: 4px solid #A6B0BF;
                border-radius: 3px;
                opacity: .5;
                cursor: pointer;
    
                &.arrow-right {
                    transform: rotate(45deg);
                    float: right;
                }
                &.arrow-left {
                    transform: rotate(-135deg);
                    float: left;
                }
                &.swiper-button-disabled {
                    opacity: .15;
                    cursor: initial;
                }
            }
        }
    }
}
#under-get_started {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 1145px;

    @media (min-width: 992px) {
        height: 970px;
    }

    .bg {
        overflow: hidden;
        z-index: 0;
        width: 100%;
        height: 717px;
        background-repeat: repeat;
        position: absolute;
        right: 0;
        top: 90px;
        border-radius: 80px 0 0 80px;
        z-index: -1;

        &:after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(41.88deg, rgba(255,220,150,0) 0%, #FFAC6C 100%);
        }

        @media (min-width: 768px) {
            width: 104.5%;
            height: 804px;
            -webkit-transform: perspective(75px) rotateX(0deg) rotateY(-1deg);
                    transform: perspective(75px) rotateX(0deg) rotateY(-1deg);
        }

        @media (min-width: 992px) {
            height: 617px;
            top: 162px;
        }
    }
    .section-head {
        h2 {
            font-size: 64px;
            font-weight: bold;
            letter-spacing: 0.36px;
            line-height: 48px;
            margin-bottom: 55px;

            @media (max-width: 767px) {
                font-size: 44px;
            }
        }
    }
    .content {
        align-items: center;
        margin-top: 70px;
        

        .left,
        .right {
            flex: 0 0 100%;
            padding-left: 15px;
            padding-right: 15px;
            display: flex;
            justify-content: center;
            
            @media (min-width: 992px) {
                flex: 0 0 50%;
            }
        }
        .left {
            .body {
                width: 100%;

                .title {
                    color: #FFFFFF;
                    font-family: "HK Grotesk";
                    font-size: 36px;
                    font-weight: bold;
                    letter-spacing: 0.15px;
                    line-height: 48px;
                }
                .points {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    margin-top: 50px;

                    li {
                        color: #FFFFFF;
                        font-family: "HK Grotesk";
                        font-size: 18px;
                        font-weight: bold;
                        letter-spacing: 0;
                        line-height: 28px;
                        display: flex;
                        margin-bottom: 25px;

                        .icon {
                            flex: 0 0 36px;
                            margin-right: 20px;
                        }
                        .text {
                            flex: 1;
                        }
                    }
                }

                @media (min-width: 992px) {
                    margin-left: auto;
                    max-width: 479px;
                }
                @media (min-width: 1200px) {
                    margin-left: 0;
                }
            }
        }
        .right {
            justify-content: center;

            img {
                max-width: 490px;
                width: 100%;
                max-height: 345px;
            }

            @media (min-width: 768px) {
                img {
                    max-height: 100%;
                }
            }

            @media (min-width: 992px) {
                justify-content: flex-end;
            }
            
            
        }

        @media (min-width: 992px) {
            margin-top: 140px;
        }
    }
    .cta-form {
        width: 100%;
        max-width: 585px;
        margin: 0 auto;
        margin-top: 30px;

        @media (min-width: 992px) {
            margin-top: 160px;
        }

        .nf-form-cont {
            .nf-form-wrap {
                .nf-form-layout {
                    .nf-before-form-content {
                        display: none;
                    }
                    .nf-form-content {
                        padding: 0;

                        .nf-cell {
                            padding: 0;
                            width: 100% !important;

                            @media (min-width: 768px) {
                                width: auto !important;
                            }

                            .nf-field-container {
                                margin: 0;

                                .nf-field {
                                    .field-wrap {
                                        width: 100%;

                                        &.nf-error {
                                            font-size: 12px;

                                            .nf-field-element {

                                                &:after {
                                                    background: #e80000;
                                                    color: #fff;
                                                    font-family: FontAwesome;
                                                    font-size: 20px;
                                                    content: "\f12a";
                                                    position: absolute;
                                                    top: 1px;
                                                    right: 0;
                                                    bottom: 1px;
                                                    height: calc(100% - 2px);
                                                    width: 50px;
                                                    line-height: 41px;
                                                    text-align: center;
                                                    transition: all .5s;
                                                    border-radius: 0px;
                                                    display: none;
                                                }
                                            }
                                        }
                                        .nf-field-label {
                                            display: none;
                                        }
                                        .nf-field-element {
                                            input[type="email"] {
                                                width: 100%;
                                                background-color: #ffffff;
                                                border: 1px solid #ff6932;
                                                color: #A6B0BF;
                                                font-family: "Open Sans";
                                                font-size: 16px;
                                                font-weight: 600;
                                                letter-spacing: 0;
                                                line-height: 22px;
                                                border-radius: 8px;
                                                padding: 10px 15px;
                                                height: auto;
                                                margin-bottom: 10px;
                                            }
                                            input[type="button"] {
                                                background-color: #ff6932;
                                                border: 1px solid #ff6932;
                                                padding: 10px;
                                                color: #FFFFFF;
                                                font-family: "Open Sans";
                                                font-size: 16px;
                                                font-weight: bold;
                                                letter-spacing: 0;
                                                line-height: 22px;
                                                border-radius: 8px;
                                                height: 100%;
                                                width: 100%;
                                            }

                                            @media (min-width: 768px) {
                                                input[type="email"] {
                                                    width: 375px;
                                                    border-radius: 8px 0 0 8px;
                                                    padding: 20px 25px;
                                                    box-shadow: 0 8px 12px 0 rgba(255,105,50,0.15);
                                                    margin-bottom: 0;
                                                }
                                                input[type="button"] {
                                                    padding: 20px 40px;
                                                    border-radius: 0px 8px 8px 0px;
                                                    width: 210px;
                                                    box-shadow: 0 8px 12px 0 rgba(255,105,50,0.15);
                                                }
                                            }
                                        }
                                    }
                                }
                                .nf-after-field {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    .nf-after-form-content {
                        display: none; 
                    }
                }
            }
        }
    }
    .nf-form-fields-required {
        display: none;
    }
    .nf-cell {
        padding: 0;
    }
}
#under-faq {
    margin-top: 250px;
    position: relative;
    margin-bottom: 120px;

    .bg {
        position: absolute;
        top: -70px;
        left: 50%;
        transform: translate(-50%, 0%);
        background: url('../../img/bg-imgs/Circle.jpg');
        background-repeat: no-repeat;
        background-position: top center;
        height: 884px;
        width: 100%;
        max-width: 884px;
        z-index: -1;
    }
    .section-head {
        h2 {
            font-size: 64px;
            font-weight: bold;
            letter-spacing: 0.36px;
            line-height: 48px;
            margin-bottom: 80px;

            @media (max-width: 767px) {
                font-size: 44px;
                margin-bottom: 54px;
            }
        }
    }
    .under-faq {
        display: flex;
        flex-direction: column-reverse;
        list-style: none;
        margin: 0;

        .under-faq__item {
            padding: 30px 20px;
            cursor: pointer;
            border-bottom: 1px solid rgba(211, 216, 224, .44);
            transition: .5s;

            @media (min-width: 768px) {
                padding: 30px 50px;
            }
    
            .under-faq__item-title {
                font-family: "HK Grotesk";
                font-size: 26px;
                font-weight: 600;
                letter-spacing: 0.5px;
                line-height: 34px;
                color: $heading-color;
                margin: 0;
                text-decoration: none !important;
                transition: .4s;
                position: relative;
                display: block;
                padding-right: 20px;

                @media (max-width: 767px) {
                    font-size: 24px;
                    padding-right: 30px;
                }
    
                &:before {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 13px;
                    width: 0;
                    height: 0;
                    border-radius: 3px;
                    border-style: solid;
                    border-width: 8px 8px 0 8px;
                    border-color: $heading-color transparent transparent transparent;
                    line-height: 0px;
                    _border-color: $heading-color #000000 #000000 #000000;
                    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
                    transition: .5s;
                }
            }
            .under-faq__item-content {
                color: #5A7184;
                font-family: "Open Sans";
                font-size: 16px;
                letter-spacing: 0.53px;
                line-height: 28px;
                display: none;
            }
            &:last-child {
                margin-bottom: 0px;
            }
            &.is-active {
                border-radius: 10px;
                background-color: #FFFFFF;
                box-shadow: 0 25px 45px 0 rgba(116,125,132,0.16);
    
                .under-faq__item-title {
                    &:before {
                        border-color: #636a72 transparent transparent transparent;
                        _border-color: #636a72 #000000 #000000 #000000;
                        _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
                        -webkit-transform: rotate(180deg);
                        -moz-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }
                }  
                & + li {
                    border-bottom: 0;
                }
            }
        }
    }
    .anchor {
        display: block;
        position: relative;
        top: -150px;
        visibility: hidden;

        @media (min-width: 768px) {
            top: -10px;
        }
        @media (min-width: 992px) {
            top: -150px;
        }
    }
}
